# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Vercel
.vercel

#- IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# - Mac
.DS_Store
.Trashes
.VolumeIcon.icns
.fseventsd

#- Vscode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#- env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
*.env

#- logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#- patch-package
/patches

#- turbo
.turbo

# firebase
.firebase
firebase-debug.log
